
body{
    display: grid;
    grid-template-rows: auto auto auto;
}
main{
    display: flex;
    flex-direction: column;
}
.cards {
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
    border: 1px rgba(106, 90, 205, 0.35);
    justify-content: space-around;
}
.card-body{
    font-size: 12px;
}
.c {
    width: 232px;
    padding: 0px 15px;
    text-decoration: none;
    margin: 28px 1px;
    border: 19px rgba(0, 5, 1, 0.411);
}
.c img{
    width: 230px;
    height: 250px;
}
.c a{
    text-decoration: none;
}

.zehabeshalogo{
    margin-right: 0.5em;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: revert;
}
footer{
    color: aliceblue;
}
.containerFoot {
    display: grid;
    grid-template-rows: auto auto;
    padding: 0 16px;
}
a {
    color: #ffffff;
    text-decoration: underline;
    font-family: sans-serif;
}
.logo img {
    height: 75px;
    padding: 0 0 0 17px;
}
.d {
    max-width: 568px;
    padding: 25px 27px;
}
.onpini0ndanalysis {
    padding: 117px 14px;
}
.openionbody{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 0;
}
.right-op {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #a8a7a7;
}
.text{
    margin-left: 30%;
}
element.style {
    height: 7px;
    color: #e92e04a3;
}
.sh {
    padding: 80px 63px;
}
.scholar{
    display: flex;
    flex-wrap: wrap;
}

.c1 {
    width: 232px;
    padding: 0px 15px;
    margin: 28px 1px;
}
.c1 img{
    width: 170px;
    height: 140px;
}
.c1 a{
    color: rebeccapurple;
    text-decoration: none;
color: rgba(1, 27, 18, 0.418);
}