
body{
    display: grid;
    grid-template-rows: auto auto auto;
}
main{
    display: flex;
    flex-direction: column;
}
.cards {
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
    border: 1px rgba(106, 90, 205, 0.35);
    justify-content: space-around;
}
.card-body{
    font-size: 12px;
}
.c {
    width: 232px;
    padding: 0px 15px;
    text-decoration: none;
    margin: 28px 1px;
    border-left: 1.2px solid rgba(0, 5, 1, 0.411);
}
.c img{
    width: 230px;
    height: 200px;
}
.c a{
    text-decoration: none;
}
.zehabeshalogo{
    margin-right: 0.5em;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: revert;
}
footer{
    color: aliceblue;
}
.copyright{
    text-align: center;
}
.containerFoot {
    display: grid;
    grid-template-rows: auto auto;
    padding: 0 16px;
}
a {
    color: #ffffff;
    text-decoration: underline;
    font-family: sans-serif;
}
.logo img {
    height: 75px;
}
.d {
    max-width: 568px;
    padding: 25px 27px;
}
.onpini0ndanalysis {
    padding: 117px 14px;
}
.openionbody{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 0;
}
.right-op {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #a8a7a7;
    padding-left: 1em;
}
.text{
    margin-left: 30%;
}
element.style {
    height: 7px;
    color: #e92e04a3;
}
.scholar{
    display: flex;
    flex-wrap: wrap;
}
.c1 {
    width: 25%;
    padding: 1em;
}
.c1 img{
    width: 230px;
    height: 200px;
}
.c1 a{
    color: rebeccapurple;
    text-decoration: none;
color: rgba(1, 27, 18, 0.418);
}

/* icon trial */
.shareicons{
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    width: 65px;
    transition-duration: 800ms;
    color: white;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  /*print*/
  .fa-print{
      background: rgb(115, 138, 141);
      color: white;
  }
  /*email*/
  .fa-envelope{
      background: rgb(132, 132, 132);
      color: white;
  }
  /*plus*/
  .fa-plus{
      background: rgb(255, 101, 80);
      color: white;
  }
  .pluss{
    padding: 10px;
  }
  .plus-value{
      margin-left: 0;
      font-size: smaller;
  }
/* icon trial */