
body{
    display: grid;
    grid-template-rows: auto auto auto;

}
main{
    display: flex;
    flex-direction: column;
}
.cards {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    background: #879c8d1c;
    border: 1px #6a5acd59;
    justify-content: space-around;
}
.card-body{
    font-size: 12px;
}
.c {
    width: 250px;
    padding: 0px 12px;
    text-decoration: rgb(13, 253, 120);
    margin: 28px 5px;
    border: 19px #138b16;

}
.c img{
    width: 170px;
    height: 140px;
}


.zehabeshalogo{
    margin-right: 0.5em;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: revert;
}
footer{
    color: aliceblue;
}
.containerFoot {
    display: grid;
    grid-template-rows: auto auto;
    padding: 0 16px;
}
d-flex a{
    color: #0dfd78;
    text-decoration: underline;
    text-decoration: none;
}
